body {
  background-color: rgb(247, 216, 247);
  font-family: "Roboto", sans-serif;
}

h1 {
  color: blueviolet;
  text-align: center;
  font-weight: bold;
}

#main {
  background-color: rgb(152, 50, 248);
  color: white;
  width: 70%;
  padding: 20px 30px 20px;
  border-radius: 1%;
  margin: auto;
}

img {
  width: 200px;
  height: 200px;
}

span {
  background-color: palegoldenrod;
  color: black;
}

.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 216, 247);
}
button {
  background-color: yellow;
  padding: 10px 10px 10px;
  border-style: none;
  border-radius: 5%;
}
