body {
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
}

h1 {
  color: rgb(88, 49, 196);

  font-size: 52px;
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
}

#main {
  background-color: rgb(152, 50, 248);
  color: white;
  width: 70%;
  padding: 20px 30px 20px;
  border-radius: 1%;
  margin: auto;
}

span {
  background-color: palegoldenrod;
  color: black;
}

.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 216, 247);
}
button {
  background-color: yellow;
  padding: 10px 10px 10px;
  border-style: none;
  border-radius: 5%;
}
